.footer {
  margin-top: 10px;
  background: $footerColor;
  @include mq("md") {
    padding-bottom: 50px;
  }
  @media screen and (max-width: 1300px) {
    padding-bottom: 60px;
  }
  .wrapper {
    padding: 10px;
    display: flex;
    align-items: center;
    @include wrapperCenter();

    @include mq("md") {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }

  &-info {
    min-width: 180px;
    display: flex;
    flex-direction: column;

    @include mq("md") {
      width: 100%;
      align-items: center;
    }
    &-copy {
      color: #fff;
      padding-bottom: 10px;
    }
  
    &-logo {
      color: #fff;
      img {
        width: 40px;
      }
    }
  }

  &-links {
    display: inline-flex;
    margin-left: 45px;
    @include mq("lg") {
      flex-wrap: wrap;
      .list:last-of-type {
        margin-top: 15px;
      }
    }
    @include mq("md") {
      width: 100%;
      justify-content: center;
      align-items: center;
      margin: 0;
    }

    @include mq("sm") {
      flex-wrap: wrap;
      padding-bottom: 15px;
    }
    .list {
      margin-left: 40px;
      
      @include mq("md") {
        margin: 20px;
        &:last-child {
          margin-bottom: -7px;
        }
      }
      h4 {
        color: $hover;
        font-size: 18px;
        font-weight: 400;
        &::after {
          content: '';
          width: 180px;
          height: 1px;
          display: flex;
          margin-top: 8px;
          background: $hover;
        }
      }
      ul {
        li {
          padding-top: 8px;
          a {
            color: #fff;
            &:hover {color: $hover;}
          }
        }
      }
    }
  }
}