.main-header {
  position: relative;
  top: 10px;

  .wrapper {
    display: flex;
    align-items: center;
  }

  &-logo {
    margin-left: 15px;
  }

  &-slogan {
    font-size: $fs-big;
    margin-left: 15px;
  }

  @include mq("md") {
    .wrapper {
      justify-content: center;
    }
    &-logo {
      margin-left: 0;
    }
  }
}
