$navHeight: 38px;

.main-nav {
  height: $finger-size;
  background: $navColor;
  position: relative;
  top: 10px;
  border: 1px solid #fff;

  .wrapper {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &-content {
    width: 100%;
    position: relative;
    input[type=checkbox],
    label {
      display: none;
      cursor: pointer;
      user-select: none;
    }
    .drop {
      position: relative;
    }

    ul {
      li {
        cursor: pointer;
        transition: padding .05s linear;
        &:hover {
          color: $hover;
        }
        .drop {
          position: relative;
        }
      }
    }

    ul {
			> li {
				cursor: pointer;
				display: inline-flex;
				a {
					color: #fff;
					height: 100%;
					line-height: 30px;
					padding-left: 10px;
					padding-right: 10px;
					text-decoration: none;
          transition: all .30s linear;
					&:hover {
            color: $hover;
          }
				}
			}
		}

    .drop-out .triangle {
      width: 0;
      height: 0;
      top: -8px;
      left: 20%;
      position: absolute;
      margin-left: -12px;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid rgba(40, 40, 40, .95);
    }

    .dropdown-contain {
      position: absolute;
      z-index: 2;
      top: -400px;

      .drop-out {
        opacity: 0;
        width: 200px;
        position: relative;
        transition: all .30s ease-out;
        border: 1px solid #7e7b7b;
        background-color: rgba(40, 40, 40, .95);
        box-shadow: 0 1px 6px rgba(0,0,0,.15);
        ul {
          padding-top: 5px;
          padding-bottom: 5px;
          li {
            padding-left: 10px;
            width: 155px;
            color: #fff;
          }
        }
      }
    }

    ul li:hover {
      color: $hover;
      transition: $all3s;
    }
    ul li:hover {
      .dropdown-contain {
        top: 30px;
      }
      .drop-out {
        opacity: 1;
        margin-top: 15px;
      }
    }
  }

  @include mq("md") {
    &-content {
      width: 100%;
			display: flex;
			position: relative;
			justify-content: center;

      #menu-btn, .triangle, ul {
        display: none;
      }
      label {
        color: #fff;
        display: flex;
        padding-top: 7px;
        padding-bottom: 7px;
      }

      #menu-btn:checked ~ ul {
        z-index: 1;
        width: 100%;
        display: flex;
        margin-top: 33px;
        position: absolute;
        flex-direction: column;
        background-color: rgba(40, 40, 40, .95);
        > li {
          padding-top: 5px;
          padding-bottom: 5px;
          justify-content: center;
        }

        .dropdown-contain {
          width: 100%;
          .drop-out {
            position: relative;
            top: -10px;
            width: 100%;
            border: none;
            box-shadow: none;
            ul {
              display: flex;
              flex-direction: column;
              li {
                width: 100%;
                padding-left: 0;
                padding-top: 5px;
                padding-bottom: 5px;
                justify-content: center;
              }
            }
          }
        }
      }
    }
  }
}
