body {
  font-family: $ff-base;
  font-weight: 400;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  z-index: 1;
}

.page {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: $max-width;
}