@mixin mq($size: "sm") {
  @if ($size == "sm") {
    @media (max-width: 575px) {
      @content
    }
  } @else if ($size == "md") {
    @media (max-width: 767px) {
      @content
    }
  } @else if ($size == "lg") {
    @media (max-width: 991px) {
      @content
    }
  }
}

@mixin wrapperCenter {
  margin-left: auto;
  margin-right: auto;
  max-width: $max-width;
}

@mixin clearfix() {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {clear: both;}
	& {*zoom: 1;}
}
