// GLOBAL

$max-width: 900px;
$finger-size: 40px;
$border-radius: 4px;
$all3s: all .3s;


// COLORS
$blue: #4096ee;
$brown: #333333;
$hover: #f6ce49;
$topBarColor: linear-gradient(to top, rgba(0,0,0,1) 0%,rgba(69,73,77,1) 100%);
$navColor: linear-gradient(to top, rgba(0,0,0,1) 0%,rgba(46,46,46,0.7) 100%);
$sliderColor: linear-gradient(to top, rgba(231,231,231, 1) 0%,rgba(239,239,239, 1) 100%);
$regGreen: linear-gradient(to top, rgba(171, 220, 40, 1) 0%, rgba(182, 224, 38, 0.97) 100%);
$regBlue: linear-gradient(to top, rgba(31,123,229, 1) 0%,rgba(74,155,234, 0.97) 100%);
$regOrange: linear-gradient(to top, rgba(255, 106, 32, 1) 0%,rgba(255, 100, 0, 0.97) 100%);
$ribbonColor: linear-gradient(to bottom, rgba(135,139,140,1) 0%,rgba(136,137,141,1) 4%,rgba(130,131,135,1) 22%,rgba(105,107,106,1) 70%,rgba(93,93,93,1) 100%);
$footerColor: linear-gradient(to top, rgba(0,0,0,1) 0%,rgba(69,73,77,1) 100%);
$infoBox: linear-gradient(to top, rgb(104, 104, 104) 0%, rgb(162, 162, 162) 100%);
$blueGradient: linear-gradient(to top, rgb(60, 115, 172) 0%, rgb(34, 83, 139) 100%);
$greenGradient: linear-gradient(to top, rgba(24,114,14,1) 0%,rgba(94,180,68,1) 100%);
$buttonGradient1: linear-gradient(to top, #383838 0%, #696969 100%);
$buttonGradient2: linear-gradient(to top, #a2281d 0%, #fd4124 100%);

// TYPOGRAPHY
$ff-base: 'Calibri', sans-serif;
$fs-normal: 16px;
$fs-small: .9em;
$fs-big: 1.5em;