.slider {
  height: 370px;
  position: relative;
  top: 10px;
  @include mq("md") {
    height: auto;
  }

  .wrapper {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &-content {
    display: flex;
    padding: 20px;
    background: $sliderColor;
    @include mq("md") {
      display: inline;
    }

    .leftSide {
      width: 50%;
      display: flex;
      flex-direction: column;
      position: relative;
      margin-right: 20px;

      @include mq("md") {
        width: 100%;
        margin-right: 0;
      }

      &-title {
        width: 100%;
        font-size: 2.2rem;
        line-height: 1.2;
        padding-bottom: 20px;
        @include mq("md") {
          width: 100%;
        }
      }

      &-description {
        width: 100%;
        font-size: .9rem;
        line-height: 1.7;
        padding-bottom: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        @include mq("md") {
          width: 100%;
        }
      }

      &-btn {
        display: flex;
        justify-content: flex-end;
        &-register {
          width: 200px;
          height: $finger-size;
          font-size: 17px;
          font-weight: 600;
          color: #ffffff;
          background-color: $blue;
          border-radius: $border-radius;
          cursor: pointer;
          outline: 0;
          transition: all .15s ease-in-out;
          &:hover {
            color: $blue;
            background-color: transparent;
            border: 1.3px solid $blue;
          }
          @include mq("md") {
            width: 100%;
          }
        }
        @include mq("sm") {
          justify-content: center;
        }
      }
    }


    .delimiter {
      display: flex;
      .black {
        width: 1px;
        height: auto;
        background-color: #d5d5d5;
      }
      .white {
        width: 1px;
        height: auto;
        background-color: #ffffff;
      }
      @include mq("md") {
        display: none;
      }
    }

    .rightSide {
      width: 50%;
      height: 300px;
      display: flex;
      margin-left: 20px;
      flex-direction: column;

      @include mq("md") {
        width: 100%;
        margin-left: 0;
        margin-top: 30px;
      }

      input[type="radio"] {
        display: none;
      }

      .dots {
        display: flex;
        margin-top: 10px;
        justify-content: center;
        label {
          width: 17px;
          height: 17px;
          cursor: pointer;
          margin-right: 5px;
          position: relative;
          background: #ffffff;
          border: 1px solid #dadada;
          border-radius: 50%;
          box-shadow: inset 5px 0 5px rgba(#000, .12);
          &:last-child {
            margin-right: 0;
          }
        }
      }

      .slides {
        width: 100%;
        height: 100%;
        display: flex;
        overflow: hidden;
        position: relative;

        img {
          width: 350px;
          height: 233px;
          transition: all .3s ease-in-out;
        }
        #slide1 {
          z-index: 3;
          position: absolute;
          top: 40px;
          left: 0px;
        }
        #slide2 {
          z-index: 2;
          position: absolute;
          top: 20px;
          left: 20px;
        }
        #slide3 {
          z-index: 1;
          position: absolute;
          top: 0;
          left: 40px;
        }
      }

      #button1:checked ~ .slides {
        #slide1 {
          z-index: 3;
          border: 5px solid transparent;
          border-image: linear-gradient(to top, rgba(0,0,0, 1) 0%,rgba(69,73,77, 1) 100%);
          border-image-slice: 1;
        }
        #slide2 {
          border: 5px solid rgba(255, 255, 255, .8);
        }
      }

      #button2:checked ~ .slides {
        #slide1 {
          top: 20px;
          left: 20px;
          z-index: 2;
          border: 5px solid rgba(255, 255, 255, 1);
        }
        #slide2 {
          top: 40px;
          left: 0;
          z-index: 3;
          border: 5px solid transparent;
          border-image: linear-gradient(to top, rgba(0,0,0, 1) 0%,rgba(69,73,77, 1) 100%);
          border-image-slice: 1;
        }
      }
      #button3:checked ~ .slides {
        #slide1 {
          top: 0;
          left: 40px;
          z-index: 1;
          border: 5px solid #f1f1f1;
        }
        #slide2 {
          top: 20px;
          left: 20px;
          z-index: 2;
          border: 5px solid rgba(255, 255, 255, 1);
        }
        #slide3 {
          top: 40px;
          left: 0;
          z-index: 3;
          border: 5px solid transparent;
          border-image: linear-gradient(to top, rgba(0,0,0, 1) 0%,rgba(69,73,77, 1) 100%);
          border-image-slice: 1;
        }
      }

      #button1:checked ~ .dots label[for="button1"],
      #button2:checked ~ .dots label[for="button2"],
      #button3:checked ~ .dots label[for="button3"] {
        background: #f6ce49;
      }
    
      @include mq("md") {
        display: none;
      }
    }
  }
}
