.social-icons {
  position: fixed;
  top: 110px;
  right: 160px;
  z-index: 9999;
  &-content { 
    flex-direction: column;
    a {
      display: flex;
      padding-bottom: 10px;
      &:last-child {
        padding: 0;
      }
      svg {
        width: $finger-size;
        height: $finger-size;
      }
    }
  }
  
  @media screen and (max-width: 1300px) {
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    &-content {
      display: flex;
      flex-direction: row;
      a {
        padding-right: 10px;
        &:last-of-type {
          padding: 0;
        }
      }
    }
  }
}