.top-bar {
	position: relative;
	height: $finger-size;
	background: $topBarColor;

	.wrapper {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		@include wrapperCenter;

		@include mq("md") {
			justify-content: center;
		}
	}

	&-links {
		color: #fff;

		a {
			color: #fff;
			padding-right: 10px;
			font-size: $fs-normal;

			&:last-of-type {
				padding-right: 0;
				padding-left: 10px;
			}

			&:hover {
				color: $hover;
				transition: $all3s;
			}
		}
	}
}
