.main {
  position: relative;
  top: 10px;
  height: auto;
  background-color: #fafafa;

  .wrapper {
    width: 100%;
    display: flex;
  }

  &-content {
    width: 100%;
    padding: 10px;
    
    .register-cards {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      margin-bottom: 60px;

      @include mq("md") {
        flex-direction: column;
        align-items: center;
      }

      .green {
        background: $regGreen;
        box-shadow: inset 0 0 10px rgba(118, 153, 12, 0.40);
        box-shadow: 0px 3px 0px 0px #9dd013;
        .card-content {
          &-title {
            width: 80%;
            padding-top: 10px;
            padding-bottom: 5px;
            text-shadow:
              -1px -1px 0 #9ac80d,  
              1px -1px 0 #9ac80d,
              -1px 1px 0 #9ac80d,
              1px 1px 0 #9ac80d;
          }
          &-description {color: #638400;}
        }
      }

      .blue {
        background: $regBlue;
        box-shadow: inset 0 0 10px rgba(4, 77, 151, 0.40);
        box-shadow: 0px 3px 0px 0px #0769d6;
        .card-content {
          &-title {
            padding-top: 20px;
            padding-bottom: 5px;
            text-shadow:
              -1px -1px 0 #106bcf,  
              1px -1px 0 #106bcf,
              -1px 1px 0 #106bcf,
              1px 1px 0 #106bcf;
          }
          &-description {
            color: #05478c;
          }
        }
      }

      .orange {
        background: $regOrange;
        box-shadow: inset 0 0 10px rgba(118, 153, 12, 0.40);
        box-shadow: 0px 3px 0px 0px #e24f00;
        .card-content {
          &-title {
            width: 80%;
            padding-top: 10px;
            padding-bottom: 5px;
            text-shadow:
              -1px -1px 0 #d85203,  
              1px -1px 0 #d85203,
              -1px 1px 0 #d85203,
              1px 1px 0 #d85203;
          }
        }
        &-description {
          color: #b04100;
        }
      }

      .card {
        width: 285px;
        height: 85px;
        display: flex;
        border-radius: $border-radius;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
        @include mq("lg") {
          width: 32.5%;
          margin-bottom: 40px; 
        }
        @include mq("md") {
          width: 95%;
        }
        @include mq("sm") {
          width: 100%;
        }
        &-img {
          img {
            width: 90px;
            height: 80px;
            position: relative;
            top: 4px;
            left: 2px;
            transform: rotate(-13deg);
            border: 3px solid rgba(170, 170, 170, 0.52);
          }
        }

        &-content {
          padding-left: 25px;
          @include mq("sm") {
            padding-left: 60px;
          }
          @media screen and (max-width: 320px) {
            padding-left: 35px;
          }

          &-title {
            color: #fff;
            font-size: 21px;
            font-weight: 600;
            line-height: 1.1;
          }
          &-description {
            font-size: 14px;
          }
        }
      }
    }

    .tournaments {
      position: relative;
      margin-top: 20px;
      &-header {
        color: #fff;
        width: 280px;
        height: 30px;
        display: flex;
        margin-left: -20px;
        align-items: center;
        justify-content: center;
        background: $ribbonColor;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        &:after {
          position: absolute;
          content: '';
          display: flex;
          width: 1em;
          height: 1em;
          background: #383838;
          top: 24px;
          left: -19.7px;
          z-index: -1;
          border-radius: .3em 0 0 1em;
          box-shadow: inset 0px 2px 0px rgba(0,0,0,0.3);
        }
      }

      &-posts {
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .post {
          width: 420px;
          height: 150px;
          margin-bottom: 50px;
          @include mq("md") {
            width: 100%;
          }
          &-content {
            &-title {
              color: #555;
              font-size: 20px;
              font-weight: 400;
              padding-bottom: 10px;
            }
            &-img {
              float: left;
              margin-right: 15px;
              border: 4px solid #4f4f4f;
            }
            &-description {
              color: #555;
              font-size: 16px;
              font-weight: 300;
              line-height: 1.4;
              @include mq("sm") {
                line-height: 1.2;
              }
            }
            &-button {
              padding-top: 10px;
              @include mq("md") {
                padding-top: 35px;
              }

              @include mq("sm") {
                padding-top: 20px;
              }
              div {
                padding: 4px;
                display: inline-flex;
                background: #e9e9e980;
                border-radius: 2000px;
                border: .5px solid rgba(153, 153, 153, 0.527);
                svg {
                  width: 6px;
                  height: 6px;
                  fill: #797979;
                }
              }
              a {
                font-size: 14px;
                color: #4096ee;
                padding-right: 4px;
              }
            }
          }
        }
      }
    }

    .info {
      border-top: 1px solid #e2e1e1;
      @include mq("sm") {
        margin-top: 30px;
      }
      &-icons {
        width: 100%;
        padding-top: 40px;
        padding-bottom: 30px;
        display: flex;

        @include mq("sm") {
          padding-top: 20px;
          padding-bottom: 20px;
        }
        
        .icon {
          width: 300px;
          display: flex;
          padding-left: 20px;
          align-items: center;
          justify-content: space-between;
          border-right: 1px solid #d7d7d7;
          &:last-child {
            border: 0;
          }
          @include mq("sm") {
            padding-left: 0;
          }
          &-content {
            display: inline;
            @include mq("sm") {
              display: flex;
              flex-direction: column;
            }
            a {
              font-size: 18px;
              font-weight: 600;
              color: #343434;
              padding-left: 10px;
              img {
                float: left;
                width: 50px;
                height: 50px;
                @include mq("sm") {
                  width: 35px;
                  height: 35px;
                }
              }
              @include mq("sm") {
                font-size: 16px;
                padding-left: 5px;
                padding-right: 5px;
              }
            }
            &-link:hover {
              cursor: pointer;
              color: #5ca6f1;
            }
            &-description {
              font-size: 14px;
              color: #343434;
              padding-top: 10px;
              padding-left: 10px;
              display: inline-flex;
              @include mq("sm") {
                display: flex;
                justify-content: center;
                padding-top: 5px;
                padding-left: 5px;
              }
            }
          }
        }
      }
    }
  }
}