.membership-plans {
  padding: 10px;
  .title {
    font-size: 22px;
    font-weight: 600;
    @include mq("md") {
      display: flex;
      justify-content: center;
    }
  }
  .description {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    padding-top: 10px;
  }
  .plans {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    @include mq("md") {
      margin-bottom: 0;
      padding-left: 10px;
      padding-right: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .plan {
      width: 215px;
      height: 500px;
      background: #cbcbcb;
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
      @include mq("md") {
        width: 100%;
        margin-bottom: 15px;
        border-radius: $border-radius;
      }
      &-header {
        height: 80px;
        display: flex;
        justify-content: center;
        color: #e0e0e0;
        padding: 20px;
        background: $infoBox;
        border-top-left-radius: $border-radius;
        @include mq("md") {
          border-top-left-radius: $border-radius;
          border-top-right-radius: $border-radius;
        }
        &-title {
          font-size: 24px;
          font-weight: 600;
          @include mq("lg") {
            font-size: 22px;
          }
          @media screen and (max-width: 769px) {
            font-size: 20px;
          }
        }
      }
      &-names {
        display: flex;
        flex-direction: column;
        li {
          color: #464646;
          display: flex;
          align-items: center;
          justify-content: center;
          padding-top: 15px;
          padding-bottom: 15px;
          border-bottom: 1px solid #a2a2a2;
          @include mq("md") {
            &:before {
              display: flex;
            }
            &:nth-of-type(1):before {
              content: 'Monthly Meetings -\00a0';
            }
            &:nth-of-type(2):before {
              content: 'Monthly Tournaments -\00a0';
            }
            &:nth-of-type(3):before {
              content: 'Echipment -\00a0';
            }
            &:nth-of-type(4):before {
              content: 'Custom Tournaments -\00a0';
            }
            &:nth-of-type(5):before {
              content: 'Online Profile -\00a0';
            }
            &:nth-of-type(6):before {
              content: 'Team Access -\00a0';
            }
            &:nth-of-type(7):before {
              content: 'Gifts -\00a0';
            }
          }
        }
      }
      button {
        @include wrapperCenter();
        margin-top: 12px;
        display: flex;
        width: 140px;
        height: 35px;
        color: #fff;
        font-size: 17px;
        font-weight: 600;
        cursor: pointer;
        border-radius: 120px;
        justify-content: center;        
        background: $buttonGradient1;
        transition: all .4s ease-in-out;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, .3);
        &:hover {
          background: $buttonGradient2;
        }
        @include mq("md") {
          margin-top: 20px;
        }
      }
    }

    @include mq("md") {
      .features {
        display: none;
      }
    }

    .plan1, .plan2, .plan3 {
      background: #e0e0e0;
      transition: all .3s;
      .plan-header {
        padding: 10px;
        color: #fff;
        display: flex;
        align-items: center;
        flex-direction: column;
        background: $blueGradient;
        &-price {
          font-size: 40px;
          font-weight: 600;
          small {
            font-size: 30px;
            vertical-align: top;
          }
          small:last-of-type {
            font-size: 16px;
            vertical-align: bottom;
          }
        }
      }
      .plan-names li {
        border-bottom: 1px solid #f9f9f9;
        svg {
          fill: red;
          width: 18px;
          height: 18px;
        }
      }
    }

    .plan1 {
      box-shadow: -5px -1px 30px rgba(0, 0, 0, .2);
      @include mq("md") {
        box-shadow: none;
      }
    }

    .plan2 {
      border-bottom-left-radius: 0;
      .plan-header {
        border-top-left-radius: 0;
      }
      @include mq("md") {
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
        .plan-header {
          border-top-left-radius: $border-radius;
        }
      }
    }

    .plan3 {
      border-bottom-left-radius: 0;
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      .plan-header {
        border-top-left-radius: 0; 
        border-top-right-radius: $border-radius;
      }
      @include mq("md") {
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
        .plan-header {
          border-top-left-radius: $border-radius;
        }
      }
    }

    @media screen and (min-width: 768px) {
      .plan:not(.features) {
        &:hover {
          z-index: 1001;
          cursor: pointer;
          background: #fff;
          transform: scale(1.097);
          border-radius: $border-radius;
          box-shadow: 0 5px 10px rgba(0, 0, 0, .35);
          .plan-header {
            height: 95px;
            background: $greenGradient;
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
          }
          .plan-names li {
            border-bottom: 1px solid #dadada;
          }
          button {
            background: $buttonGradient2;
          }
        }
      }
    }
  }
}